<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>

    <div class="container" style="margin-top:3em">
      <div class="row">
        <div class="col-md-12" ng-controller="PizzaListController as ctrl">
        </div>
      </div>
    </div>
    <h1>Bonjour !!!!</h1>
    <input id="value_addPizza" type="texte" /><button id="addPizza" <button id="addPizza" ng-click="ctrl.addPizzaClick(value_addPizza)">Ajout pizza</button><br />
    <div id="toppings">
    </div>
    <button id="enregistrer">enregistrer</button>
    <div>
      <table id="listePizza">
        <thead>
          <tr>
            <th>Nom pizza</th>
            <th>Ingredients </th>
            <th>Cuisson </th>
            <th>supprimer </th>
          </tr>
        </thead>
        <tr class='list-group' ng-repeat="pizza in ctrl.pizzas.getPizzas() track by $index" class="list-group-item " ng-class="{strike : user.deleted}">
            <td>{{ $index + 1 }} - {{ pizza.name | uppercase }}</td> <td ng-repeat = "top in pizza track by $index"> {top}</td> <button ng-click="monCtrl.clickmeDelUser2($index)" class="pull-right">&times;</button>
          </li>
        </tr>
      </table>
    </div>

    <script src="build.js"></script>
  </body>
</html>